/*.app {*/
/*  padding: 30px;*/
/*  display: flex;*/
/*}*/

/*.app > div {*/
/*  margin-right: 50px;*/
/*}*/

.app {
    display: flex;
    flex-direction: column;
    width: 100vw;
}


/*.todolist {*/
/*  border: 2px solid #FED6BC;*/
/*  border-radius: 15px;*/
/*  background-color: #E6E6FA;*/
/*  padding: 10px;*/
/*}*/

.active-filter {
    background-color: #FED6BC;
}

.is-done {
    opacity: 0.5;
}